* {
	margin:	0;
	padding: 0;
	font-family: 'Microsoft YaHei', 微软雅黑, STHeiti, sans-serif;
	border-style: none;
}

body {
	background-color: #fdfdfd; 
	font-size: 14px;
}

/*************************    header start   *******************************/


.header {
	width: 100%;
	height: 60px;
	background-color: #272f38;
	color: #ffffff;
}

.header .main {
	margin: 0 auto;
	width: 960px;
}

.header .main .logo {
	float: left;
	padding: 15px 0 0 0;
	font-size: 20px;
}

.header .function {
	width: 200px;
	height: 60px;
	float: right;
	background-color: #364351;
	font-size:16px;
}

.header .function li {
	float: left;
	padding-top: 18px;
	width:100px;
	text-align: center;
}

.header  .nav {
	float: right;
	font-size: 16px;
	width: 300px;
}

.header  .nav li{
	float: left ;
	text-align: center;
	padding: 18px 0 0 20px ;
}

.header .search {
	float: right;
	padding: 11px 0 0 0;
}

.header .search  input[type=button]{
	background-color: #ff4a00;
	color: #ffffff;
	width: 50px;
	height: 40px;
	float: left;
}

.header .search  input[type=search]{
	width: 220px;
	height: 40px;
	padding: 0 0 0 10px;
	float: left;
}



/*************************    header  end   *******************************/

.content {
	width: 960px;
	margin: 0 auto;
}

/*************************    left  start   *******************************/

.left {
	float: left;
	width: 630px;
	padding-bottom: 30px;
}

.left .dynamic  span{
	font-size: 15px;
	color: #272f38;
	padding: 20px 0 12px 20px;
	
}

.left .dynamic .line-1 {
	width: 630px;
	height: 1px;
}

.left  .dynamic-item {
	clear: both;
	padding: 10px 0;
	
}

.left .profile  {
	width: 40px;
	height: 40px;
	padding: 10px 8px 0 0;
	float: left;
}

.left .nick-name {
	padding-top: 10px;
	color: #596b94;
	float: left;
}

.left .content-type {
	padding: 10px 0 0 40px;
	color: #828282;
	float: left;
}

.left .time {
	padding: 10px 0 0 0;
	color: #828282;
	float: right;
}

.left .question-title {
	padding: 12px 0 0 0;
	color: #000000;
}

.left .question-desc {
	padding: 15px 0 0 48px;
	color: #525050;
}

.left .question-desc  a{
	display:inline;
	padding-left: 15px;
	color: #4a90e2;
}

.left .plus {
	float: left;
	padding: 15px 0 0 48px;
}

.left .attent {
	float: left;
	padding: 13px 0 0 10px;
}

.left .msg {
	float: left;
	padding: 15px 0 0 30px;
}

.left .msg-num {
	float: left;
	padding: 13px 0 0 10px;
}

.left .dynamic-item .line-2 {
	width: 630px;
	height: 1px;
	margin-top: 10px;
	float: left;
}

/*************************    left  end   *******************************/

/*************************    right start   *******************************/

.right {
	float: right;
	width: 270px;
}

.right  .hot-label .label-header span{
	float: left;
	padding: 20px 0 12px 20px;
	font-size: 15px;
}

.right .hot-label .label-header .right-arrow{
	float: right;
	padding: 24px 10px 12px 0;
}

.right  .hot-label .label-header a{
	float: right;
	padding: 20px 5px 12px 0;
	font-size: 14px;
	color: #4a90e2;
}

.right  .hot-label .label-header  .line-1 {
	width: 269px;
	height: 1px;
	float: left;
}

.right  .hot-label .label-item {
	clear: both;
	padding: 15px 0 0 15px;
}

.right  .hot-label .label-item  img{
	float: left;
}

.right  .hot-label .label-item  span{
	float: left;
	padding: 4px 0 0 15px;
}

.right .pro-user {
	clear: both;
}

.right .pro-user  .pro-header span{
	float: left;
	padding: 20px 0 12px 20px;
	font-size: 15px;
}

.right .pro-user  .pro-header .right-arrow{
	float: right;
	padding: 24px 10px 12px 0;
}

.right .pro-user  .pro-header a{
	float: right;
	padding: 20px 5px 12px 0;
	font-size: 14px;
	color: #4a90e2;
}

.right .pro-user  .pro-header .line-1{
	width: 269px;
	height: 1px;
	float: left;
}

.right  .pro-user .user-item {
	clear: both;
	padding: 15px 0 0 15px;
}

.right  .pro-user .user-item  img{
	float: left;
	width: 40px;
	height: 40px;
}

.right  .pro-user .user-item  .name{
	float: left;
	padding-left: 15px;
	color: #000000;
}

.right  .pro-user .user-item  .name{
	float: left;
	padding-left: 15px;
	color: #000000;
}

.right  .pro-user .user-item  .role{
	float: left;
	padding-left: 15px;
	color: #525050;
}


/*************************    right end   *******************************/

/*************************    footer  start   *******************************/

.footer {
	width: 100%;
	height: 170px;
	background-color: #272f38;
	color: #ffffff;
}

.footer .footer-main {
	width: 960px;
	margin: 0 auto;
}

.footer .footer-nav {
	float: left;
	padding: 30px 100px 0 0;
}

.footer .footer-nav .nav-header {
	font-size: 18px;
}

.footer-nav ul {
	padding-top: 20px;
}

.footer-nav  a {
	padding-bottom: 10px;
}

.footer .telephone {
	float: right;
	text-align: right;
	padding-top: 30px;
}

.telephone #phone-num {
	font-size: 23px;
	padding: 0 5px 10px 0;
}





/*************************    footer  end   *******************************/



.clear {
	clear: both;
}




.line-1 {
	background-image: url(../images/979797.png);
}

.line-2 {
	background-image: url(../images/d8d8d8.png);
}

.plus {
	width: 15px;
	height: 14px;
}

.msg {
	display: inline;
	width: 16px;
	height: 14px;
}











input[type=button] {
	color: #ffffff;
	background: #ff4a00;
}


ul {
	list-style: none;
}


a {
	display: block;
	color: #ffffff;
	text-decoration: none;
}

a:hover {
	color: #ffffff;
	text-decoration: none;
}

a:focus {
	color: #ffffff;
	text-decoration: none;
}


a:active {
	color: #ffffff;
	text-decoration: none;
}

a:visited {
	color: #ffffff;
	text-decoration: none;
}

span {
	display: block;
}